
<div class="item">
  <a class="ui logo icon image" href="/">
    <img src="/images/logo.png">
  </a>
  <a href="/"><b>UI Docs</b></a>
</div>
<div class="item">
    <div class="ui input"><input type="text" placeholder="Search..."></div>
</div>
<ul>
{% for level1 in site.data.menu.en %}
    <li><a class="item" href="/struct/{{ level1.path }}/index.html">
      <b>{{ level1.name }}</b>
    </a>
    <i class="dropdown icon"></i>
    <ul>
    {% for level2 in level1.children %}
      <li><a class="item" href="/struct/{{ level2.path }}/index.html">
        <b>{{ level2.name }}</b>
      </a>
      <i class="dropdown icon"></i>
      <ul>
      {% for level3 in level2.children %}
      <li><a class="item" href="/struct/{{ level3.path }}/index.html">
        <b>{{ level3.name }}</b>
      </a></li>
      {% endfor %}
      </li></ul>
    {% endfor %}
    </li></ul>
{% endfor %}
</ul>
<a class="item" href="/introduction/new.html">
  <b>New in 2.3</b>
</a>
